{{#unless @member}}
    <section class="subscribe-cta outer">
        <div class="inner">
            <h2 class="subscribe-cta-title">{{t "Subscribe to Being Useful"}}</h2>
            <a class="subscribe-cta-button" href="#/portal" data-portal>
                <div class="subscribe-cta-input">Type your email...</div>
                <span>Subscribe</span>
            </a>
        </div>
    </section>
{{/unless}}
