
:root {
    --lighter-gray-color-alt: #f0f0f0;
}
.gh-loadmore{
    background-color: var(--lighter-gray-color);
    border-radius: 191px;
    border: none;
    padding: 10px 17px;
    line-height: 1;
    font-weight: 600;
    color: var(--secondary-text-color);
    text-transform: none;
    font-size: 16px;
}
.gh-loadmore:hover{
    background-color: var(--lighter-gray-color-alt);
    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.feed-title {
    white-space: wrap;
}

.feed-length {
    background-color: var(--secondary-text-color);
    white-space: nowrap;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 11px;
    color: var(--white-color);
    padding: 4px 8px;
    border-radius: 16px;
}

/* Subscribe section styling */
.subscribe-cta{
    margin-block: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .inner{
        align-items: center;
        display: flex;
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 12px;
        height: min-content;
        justify-content: center;
        overflow: hidden;
        position: relative;
        margin-inline: 20px;
    }
    .subscribe-cta-title{
        color: var(--ghost-accent-color);
        font-size: 21px;
    }
    .subscribe-cta-button{
        .form-wrapper{
            align-items: center;
            border: 1px solid var(--ghost-accent-color);
            border-radius: 6px;
            color: var(--color-secondary-text);
            display: inline-flex;
            font-size: 1.7rem;
            justify-content: space-between;
            position: relative;
            transition: border-color .2s;
            max-width: 400px;
            width: 100%;
            & > button{
                background: var(--ghost-accent-color);
                border-radius: 4px;
                border: none;
                color: #fff;
                display: inline-block;
                font-size: 1.6rem;
                font-weight: 600;
                letter-spacing: -.005em;
                padding: 10px 20px;
                cursor: pointer;
            }
        }
        .subscribe-cta-input{
            font-size: 16px;
            border: none;
        }
        
    }
}

.gh-form.error .form-wrapper{
    border: 2px solid red;
}

.gh-form .gh-button svg {
    display: none;
    margin-top: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin-right: 45px;
}

.gh-form .gh-button .checkmark{
    margin-top: 2px;
    margin-right: 38px;
}

.gh-form:is(.loading,.success) .gh-button span {
    visibility: hidden;
}

.gh-form.loading .gh-button svg:first-of-type, .gh-form.success .gh-button svg:last-of-type {
    display: block;
}


.subscribe-cta .success-message,
.subscribe-cta .error-message {
  font-size: 1.2rem;
  display: none;
  text-align: center;
    margin-top: 1rem;

}

.subscribe-cta .success-message{
    color: green;
}

.subscribe-cta .error-message{
    color: red;
}

.gh-form:is(.success) .success-message{
    display: block;
}

.gh-form:is(.error) .error-message{
    display: block;
}



/* single-footer styling */
.single-footer{
    margin-bottom: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    .navigation-link{
        & > svg{
            fill: var(--color-secondary-text);
        }
    }
}

.single-footer-left, .single-footer-right{
    flex: auto !important;
}

.navigation-link{
    width: auto;
    min-width: 30px;
    color: var(--color-secondary-text);
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    background: var(--lighter-gray-color);
    color: var(--color-secondary-text);
    border-radius: 20px;
    padding: 18px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
}

.navigation-previous .navigation-link{
    background: transparent;
}
.navigation-previous .navigation-link:hover{
    opacity: 1;
    background: #f2f2f2;
}
.navigation-next  .navigation-link:hover{
    opacity: 1;
    background: #f2f2f2;
}

.single-footer-right{
    gap: 20px;
    flex-wrap: wrap;
}

.navigation-by-mail{
    .navigation-link{
        &>svg{
            width: 18px;

        }
        &:hover{
            opacity: 1;
            background: #f2f2f2;
        }
    } 
}


/* New post button styling */

.new-post-btn{
    margin-top: 40px;
    .navigation-link{
        background: var(--white-color);
        width: 160px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0;
        &>svg{
            width: 18px;
            fill: var(--color-secondary-text);
        }
        &:hover{
            opacity: 1;
            background: #f2f2f2;
        }
    }
}